@sml: 400px;
@med: 600px;
@lrg: 1000px;
@mp: 0.1; // minimum percentage
@lrgm: (@lrg * ((2*@mp)*(1 + (2*@mp)) + 1));
@mp2: @med / ( @med - @sml ) * @mp; // 2nd minimum percentage
@off: -@med * @sml / ( @med - @sml ) * @mp; // offset for ^


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font: 14px "Open Sans", Arial, sans-serif;
}

body.full {
  @media(max-width: @med) {
    overflow: hidden;
  }
}

@header-height: 60px;
@window-height: 200px;
@window-short-height: 80px;
@time-height: 60px;

// temporary
@g1: #000000;
@g2: #101010;
@g3: #202020;
@g4: #303030;
@g5: #404040;
@g6: #505050;
@g7: #606060;
@g8: #707070;
@g9: #808080;
@g10: #909090;
@g11: #A0A0A0;
@g12: #B0B0B0;

.spacer {
  flex-grow: 1;
}

.hover-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.dropdown {
  position: relative;
  height: @header-height*3/4;
  width: @header-height*3/4;
  @media(max-width: @sml) {
    height: @header-height;
    width: @header-height;
    margin: 0;
  }
  .dropdown-label {
    position: absolute;
    top: 50%;;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    min-width: 180px;
    padding: 10px;
    padding-top: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    .item {
      white-space: nowrap;
    }
  }
  &.active {
    .dropdown-menu {
      display: block;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      background: @g12;
    }
  }
}

.header {
  @media(max-width: @sml) {
    .dropdown > .dropdown-menu {
      transform: translateX(-100vw);
      display: block;
      transition: transform 0.5s ease;
      top: 0;
      height: ~"calc(100vh -" @header-height ~");";
      width: ~"calc(100vw - 80px)";
    }
    .dropdown.active > .dropdown-menu {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      transform: translateX(0vw);
    }
  }
}

.pages {
  height: 100%;
  margin-top: -1px;
  padding-top: 1px;
}

.pages > .page:not(:first-child) {
  display:none;
}

.pages .header-container {
  background: @g12;
}
.pages .header-container {
  position: fixed;
  height: @header-height + @window-height + @time-height;
  width: 100%;
  transition: height 0.5s ease;
  top: 0;
  left: 0;
  z-index: 10;
}

.pages .page {
  //overflow: auto; // necessary at some point
  min-height: ~"calc(100% -" @header-height+@window-height+@time-height ~");";
  padding-top: @header-height+@window-height+@time-height;
  transition: padding 0.5s ease;
}

.pages.header-only {
  & > .header-container {
    height: @header-height;
  }
  & > .page {
    padding-top: @header-height;
  }
}
.pages.header-transparent {
  & > .header-container {
    background: rgba(0, 0, 0, 0);
  }
}
.pages.header-transition {
  & > .header-container {
    background: rgba(0, 0, 0, 0);
    .header {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: @g8;
        transform: translateY(-100%);
      }
    }
  }
  &.active {
    .header:after {
      transform: translateY(0);
    }
  }
}
.pages.header-offset {
  .page {
    height: 100%;
    overflow: hidden;
  }
  & > .header-container {
    transition: transform 0.5s ease;
    @media(min-width: @med) {
      transform: translateY(@header-height);
    }
  }
}
.pages.short .page {
  padding-top: @header-height+@window-short-height;
}
.pages.short .header-container {
  height: @header-height+@window-short-height;
}
.pages.short .time {
  transform: translateY(-100%);
}

.header {
  height: @header-height;
  font-size: 1.5em;
  a, span {
    padding: 8px;
  }
  span:hover {
    cursor: pointer;
  }
  a {
    .hover-link;
  }
  & > .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.container {
  margin: 0 0;
  // sml -> med
  @media(min-width: @sml) {
    margin: 0 ~"calc(" @mp2*100% ~" + " @off ~")";
  }
  // med -> lrg
  @media(min-width: @med) {
    margin: 0 100%*@mp;
  }
  // lrg ->
  @media(min-width: @lrgm) {
    margin: 0 ~"calc(50% - " @lrg/2 ~");";
  }
}

/* end general */

.page {
  background: @g12;
}

.box.list {
  padding: 10px;
  margin: 10px 0;
  background: white;
  .list-item {
    padding: 10px 0;

  }
}

// uugglllyy
.box.wide {
  position: relative;
  display: flex;
  width: 100%;

  .left:before, .right:after {
    content: '';
    width: 125%;
    top: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .left, .right {
    position: relative;
    display:flex;
    height: 100%;
    width: 50%;
    transform: skewX(-20deg);
    & > .content {
      flex-grow: 1;
      transform: skewX(20deg);
    }
  }
  .left {
    padding-left: 0;
    &:before {
      right: 0;
    }
  }
  .right {
    padding-right: 0;
    &:after {
      left: 0;
    }
  }
  @media(min-width: @sml) {
    .left, .right {
      width: ~"calc(50% - calc(" @mp2*100% ~" + " @off ~"));";
    }
    .left {
      padding-left: ~"calc(" @mp2*100% ~" + " @off ~")";
    }
    .right {
      padding-right: ~"calc(" @mp2*100% ~" + " @off ~")";
    }
  }
  @media(min-width: @med) {
    .left, .right {
      width: ~"calc(50% - " (100%*@mp) ~");";
    }
    .left {
      padding-left: 100%*@mp;
    }
    .right {
      padding-right: 100%*@mp;
    }
  }
  @media(min-width: @lrgm) {
    .left, .right {
      width: ~"calc(50% - calc(50% - " @lrg/2 ~"));";
    }
    .left {
      padding-left: ~"calc(50% - " @lrg/2 ~");";
    }
    .right {
      padding-right: ~"calc(50% - " @lrg/2 ~");";
    }
  }
}

.box.wide.right {
  .left {
    width: 70%;
    @media(min-width: @sml) {
      //width: ~"calc(calc(100% - 200px) - calc(" @mp2*100% ~" + " @off ~"));";
      width: ~"calc(100% - 200px)";
    }
    // med -> lrg
    @media(min-width: @med) {
      //width: ~"calc(calc(100% - 200px) - calc(" (100%*@mp) ~"));";
      width: ~"calc(100% - 200px)";
    }
    // lrg ->
    @media(min-width: @lrgm) {
      //width: ~"calc(calc(100% - 200px) - calc(50% - " @lrg/2 ~"));";
      width: ~"calc(100% - 200px)";
    }
  }
  .right {
    width: 30%;
    @media(min-width: @sml) {
      width: ~"calc(200px + calc(" @mp2*100% ~" + " @off ~"));";
    }
    // med -> lrg
    @media(min-width: @med) {
      width: ~"calc(200px + " (100%*@mp) ~");";
    }
    // lrg ->
    @media(min-width: @lrgm) {
      width: ~"calc(200px + calc(50% - " @lrg/2 ~"));";
    }
  }
}

.box.time {
  height: @time-height;
  background: @g11;
  z-index: -1;

  transition: transform 0.5s ease;
  & > .container {
    display: flex;
    justify-content: space-around;
  }
}

.box.body {
  min-height:1500px;
}

.box > .left:before {
  background-color: @g10;
}
.box > .right:after {
  background-color: @g9;
}
.window {
  height: @window-height;
  overflow-x: hidden;
}

.window.score {
  overflow: hidden;
  z-index: 1;
  transition: height 0.5s ease;
  .left, .right {
    position: relative;
    transition: width 0.5s ease, font-size 0.5s ease;
    font-size: 6em;
    span {
      padding: 20px;
      line-height: @window-height;
      transition: line-height 0.5s ease;
    }
  }
  .left {
    text-align: right;
    span {
      margin-right: 20px;
    }
  }
  .right {
    span {
      margin-left: 20px;
    }
  }
}

.pages.short > .header-container > .window {
  height: @window-short-height;
  .left, .right {
    font-size: 2em;
    span {
      line-height: @window-short-height;
    }
  }
}
.box.into {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > .panel {
    .container {
      display: flex;
      justify-content: center;
      span {
        padding:10px;
      }
    }
  }
}

.page.event {
  padding-top: 0 !important; // ehh

  & > .window {
    background: @g9;
  }
}

//.page {
//  position: relative;
//  padding-top: 20px;
//  .container {
//    height: 100%;
//  }
//}
