html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font: 14px "Open Sans", Arial, sans-serif;
  background: @g12;
}
@header-height: 60px;
@window-height: 200px;
@window-short-height: 80px;
@title-height: 60px;

@g1: #000000;
@g2: #101010;
@g3: #202020;
@g4: #303030;
@g5: #404040;
@g6: #505050;
@g7: #606060;
@g8: #707070;
@g9: #808080;
@g10: #909090;
@g11: #A0A0A0;
@g12: #B0B0B0;

.pages {
  height: 100%;
}
.pages .page {
  height: 100%;
  margin-top: -1px;
  padding-top: 1px;
  position: relative;
  overflow: auto;
}
.top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.bottom {
  margin-top: @header-height + @window-height + @title-height - 1px;
  background: @g7;
  padding-bottom: 1px;
}
.header {
  background: @g12;
  height: @header-height;
}
.page > .top {
  height: @window-height + @header-height + @title-height;

  & > .window {
    position: relative;
    overflow: hidden;
    background: @g11;
    height: @window-height + @title-height;
    .left, .right {
      position: relative;
      height: ~"calc(100% - " @title-height ~")";
      min-width: 50%;
      display: inline-block;
    }
    .title {
      position: absolute;
      top: ~"calc(100% - " @title-height ~")";
      left: 0;
      right: 0;
      height: @title-height;
      background: @g8;
      z-index: 10;
    }
  }


}

.page > .top > .window {
  &.straight {
    .left, .right {
      transform: skewX(0deg);
      & > .content {
        transform: skewX(0deg);
      }
    }
  }
  &.right {
    .left {
      min-width: 75%;
    }
    .right {
      min-width: 25%;
    }
  }
  &.left {
    .left {
      min-width: 25%;
    }
    .right {
      min-width: 75%;
    }
  }
  .left {
    background: @g10;
    margin-left: -200px;
    padding-left: 200px;
  }
  .right {
    background: @g9;
    margin-right: -200px;
    padding-right: 200px;
  }
}

.page.game {
  & > .top > .window {
    .left, .right {
      transform: skewX(-20deg);
      z-index: 9;
      & > .content {
        transform: skewX(20deg);
      }
    }
    .title {
      z-index: 9;
    }
  }
  & > .bottom {
    min-height: ~"calc(100% - " (@header-height + @window-height + @title-height) ~")";
  }
}

.bottom > .inner > .content {
  // placeholder
  background: @g6;
  min-height: 500px;
}

.page.short {
  .top {
    .window {
      height: @window-short-height;
      .title {
        z-index: 9;
      }
      .left, .right {
        height: 100%;
      }
    }
  }
  .bottom {
    margin-top: @header-height + @window-short-height - 1px;
    min-height: ~"calc(100% - " (@header-height + @window-short-height)  ~" )";
  }
}

.page.index {
  overflow: hidden;
  .top {
    height: 100%;
    .header {
      background: @g12;
    }
    .window {
      height: ~"calc(100% - " @header-height ~")";
      background: @g12;

      .left, .right {
        opacity: 0;
        transform: skewX(0deg);
        & > .content {
          transform: skewX(0deg);
        }

      }
      .left {
        transform: translateX(-100%);
      }
      .right {
        transform: translateX(100%);
      }

      .title {
        z-index: 11;
        top: ~"calc(50% -" (3/2*@header-height) ~");";
      }
    }
  }
  .bottom {
    //transform: translateY(100%);
    height: 0;
    overflow: hidden;
  }
}

.page.player {
  .window {
    //height: @window-height + @title-height;
    .left {
      min-width: 25%;
    }
    .right {
      min-width: 75%;
      transform: translateX(100%);
    }
    .title {
      background: rgba(0, 0, 0, 0);
    }
  }
}

*, * * {
  transition: all 1s ease, transform 0.5s ease 0.2s, z-index 1ms;
}

@sml: 400px;
@med: 600px;
@lrg: 1000px;
@lrgm: (@lrg * ((2*@mp)*(1 + (2*@mp)) + 1));
@mp: 0.1;

.inner {
  margin: 0 0;
  max-width: @lrg;
  height: 100%;

  @mp2: @med / ( @med - @sml ) * @mp;
  @off: -@med * @sml / ( @med - @sml ) * @mp;

  // sml -> med
  @media(min-width: @sml) {
    margin: 0 ~"calc(" @mp2*100% ~" + " @off ~")";
  }
  // med -> lrg
  @media(min-width: @med) {
    margin: 0 100%*@mp;
  }
  // lrg ->
  @media(min-width: @lrgm) {
    margin: 0 auto;
  }
}
