// landing page, fullscreen image / gradient, transparent header, center button
extends layout

block content
  .pages
    .page.index
      .top
        .header
          .inner
        .window.straight
          .title
          .left
            .content
          .right
            .content
      .bottom
        .inner
          .content
