extends layout

block content
  h1 Sportsync main application
  div
    h3 Games
    #game-list
  div
    h3 Teams
    #team-list
  div
    h3 Players
    #player-list



  template#gameElementTemplate
    div
      h1 { model:name }
      p Start date: { model:start | date }

      div
        label
          | Name
          input(rv-value='model:name')

      div
        label
          | Start date:
          input(rv-value='model:start | dateinput', type='date')


  template#teamElementTemplate
    div
      h1 { model:name }
      p This team has players:
      div(rv-each-player="model*getPlayers")
        p { player:name }

      div
        label
          | Name
          input(rv-value='model:name')



  template#playerElementTemplate
    div
      h1 { model:name }
      p This player is on team: { model*getTeam:name } <i>(id: { model:team })</i>

      div
        label
          | Name
          input(rv-value='model:name')

      div
        label Team
        select
          option
            | { model*getTeam:name }
          option(rv-each-team="model*getAllOtherTeams")
            | { team:name }
  button(onclick='loadBoard()') Load Scoreboard


block scripts
  script(src='/javascripts/index.js')
