// header, large image / background, game title, players, teams, details
extends layout

block content
  .pages.header-only.header-transition
    .page.event
      .box.window
        .container
          span body content
      .box.time
        .container
          span title
      .container
        .box.list
          h1 List title
          .list-item
            span List Item 1
          .list-item
            span List Item 2
          .list-item
            span List Item 3
          .list-item
            span List Item 4
          .list-item
            span List Item 5


    .header-container
      include header

block scripts
  script(src='/javascripts/static-event.js')
