// score top, player, team, game statistics
extends layout

block content
  .pages
    .page
      .box.body
        .container
          span body content

    .header-container
      include header
      .box.wide.window
        .left
          .content
            span Content
        .right
          .content
            span Content
      .box.wide.time
        .container
          span time

block scripts
  script(src='/javascripts/static-game.js')
