// 'game' page, top score, angled container
extends layout

block content
  .pages
    .page.game.short
      .top
        .header
          .inner
        .window.right
          .title
          .left
            .content
          .right
            .content
      .bottom
        .inner
          .content
