// 'game' page, top score, angled container
extends layout

block content
  .pages
    .page.player
      .top
        .header
          .inner
        .window
          .title
          .left
            .content
          .right
            .content
      .bottom
        .inner
          .content
