// score top, player, team, game statistics
extends layout

block content
  .pages
    .page
      .container
        .box

      .container
        .box.list
          h1 List title
          .list-item
            span List Item 1
          .list-item
            span List Item 2
          .list-item
            span List Item 3
          .list-item
            span List Item 4
          .list-item
            span List Item 5

    .header-container
      include header
      .box.wide.window.score
        .left
          .content
            span.score { model:scoreA }
        .right
          .content
            span.score { model:scoreB }
      .box.time
        .container
          .spacer
          span { model:time | formatTime }
          .spacer

block scripts
  script(src='/javascripts/static-game.js')
