.header
  .container
    .dropdown
      .dropdown-menu
        .item Option 10
        .item Option 2
        .item Option 3
        .item Option 4
        .item Option 5
        .item Option 6
        .item Option 7
        .item Option 8
        .item Option 9
      .dropdown-label
        span.fa.fa-bars

    span Header
    .right
      a(href='/app/settings').fa.fa-cog
      a(href='/app/user').fa.fa-user
