.header
  .container
    .dropdown
      .dropdown-menu
        .item Option 1
        .item Option 1
        .item Option 1
        .item Option 1
        .item Option 1
        .item Option 1
        .item Option 1
        .item Option 1
        .item Option 1
      .dropdown-label
        span.fa.fa-bars

    span Header
    .right
      a(href='/app/settings').fa.fa-cog
      a(href='/app/user').fa.fa-user
