//  header, login, new game, game list
extends layout

block content
  .pages.header-only.header-transparent
    .page
      .box.into
        .panel
          .container
            span body content
    .header-container
      include header

block scripts
  script(src='/javascripts/static-game.js')
