//  header, login, new game, game list
extends layout

block content
  .pages.header-only
    .page
      .box.into
        .panel
          .container
            span body content
    .header-container
      .header
        .container
          span Header

